.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    /* border-radiusを4pxに指定してください */
    border-radius: 4px;
    background-color: #239b76;
  }
  
  /* btnクラスにhoverしたときのCSSを指定してください */
  .btn:hover{
    opacity: 1;
  }