body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

.top_wrapper {
    background-image: url(bg.jpg);
    background-size: cover;
    /* color: white; */
    text-align: center;
}

.bg-mask{
    padding: 100px 0 100px 0;
    background-color: rgba(0,0,0,0.5)
}

select {
    font-family: "Hiragino Kaku Gothic ProN";
    height:30px;
    width: 150px;
    padding-right: 1em;
    opacity: 0.95;
    cursor: pointer;
    text-align: center;
    text-overflow: ellipsis;
    outline: none;
    background-image: none;
    appearance: none;
}

select:hover{
    opacity: 1;
}

.select_wrapper{
    padding: 5 5;
}

input[type="number"] {
    font-family: "Hiragino Kaku Gothic ProN";
    opacity: 0.95;
    height:30px;
    width: 66;
    padding-right: 1em;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    outline: none;
    background-image: none;
    appearance: none;
    -moz-appearance:textfield;
}

input[type="number"]:hover{
    opacity: 1;
}

.number_wrapper{
    padding: 5 5;
    color: white;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.85;
    border-radius: 4px;
    background-color: #239b76;
}

.btn:hover{
opacity: 1;
}

.btn_wrapper {
    padding: 5 5;
}

.ans_wrapper{
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 4px;
    background: rgba(18, 94, 182, 0.8)/*背景色*/
}

.ans{
    color:white;
}