body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

.top_wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    color: white;
    text-align: center;
}

select {
    font-family: "Hiragino Kaku Gothic ProN";
    height:30px;
    width: 150px;
    padding-right: 1em;
    cursor: pointer;
    text-align: center;
    /* text-indent: 0.01px; */
    text-overflow: ellipsis;
    /* border-radius: 10px; */
    /* -moz-appearance: none; */
    /* border: none; */
    outline: none;
    /* background: transparent; */
    background-image: none;
    /* box-shadow: none; */
    /* -webkit-appearance: none; */
    appearance: none;
}

.select_wrapper{
    padding: 5 5;
}

input[type="number"] {
    font-family: "Hiragino Kaku Gothic ProN";
    opacity: 0.95;
    height:30px;
    width: 66;
    padding-right: 1em;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    outline: none;
    background-image: none;
    appearance: none;
    -moz-appearance:textfield;
}

.number_wrapper{
    padding: 5 5;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.85;
    border-radius: 4px;
    background-color: #239b76;
}

.btn:hover{
opacity: 1;
}

.btn_wrapper {
    padding: 5 5;
}